.EditLocation {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px;
    margin-top: 20px;
    background: #FFFFFF;
    width: 332px;
    z-index: 200;
}
