.Opinion {
    display: table;
    margin: 0;
    padding: 14px 11px 14px 11px;
    width: 100%;
    cursor: pointer;
}

.Opinion:hover {
    background-color: #4D4D4D;
    color: #FFFFFF;
}

.Opinion__Date {
    opacity: 0.7;
    line-height: 1.7em;
}
.Opinion__Ruble {
    font-size: 0.7em;
    margin-left: -5px;
}
