.status-cover {
    width: 100%;
    height: 210px;
}

.status-cover__0 {
    background: #4D4D4D;
}

.status-cover__1 {

}

.status-cover__2 {

}

.status-cover__3 {

}

.status-cover__4 {
    background: #3AB7AA;
}

.status-cover__icon {
    height: 130px;
}

.status-cover__text {
    font-size: 19px;
    color: #FFFFFF;
    line-height: 22px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: center;
}