.status-cover {
    width: 100%;
    height: 210px;
    -webkit-transition: all .5s ease;
}

.status-cover_is-secure_maybe {
    background: #4D4D4D;
}

.status-cover_is-secure_no {
    background: #A3A2A2;
}

.status-cover_is-secure_yes_is-moto_maybe {
    background: #4D4D4D;
}

.status-cover_is-secure_yes_is-moto_no {
    background: #D84B6C;
}

.status-cover_is-secure_yes_is-moto_yes {
    background: #3AB7AA;
}

.status-cover__icon {
    height: 130px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}



.status-cover__icon_is-secure_maybe {
    background-image: url("images/mot-no.svg");
    background-size: 32px 104px;
}

.status-cover__icon_is-secure_no {
    background-image: url("images/mot-no.svg");
    background-size: 32px 104px;
}

.status-cover__icon_is-secure_yes_is-moto_maybe {
    background-image: url("images/mot-maybe.svg");
    background-size: 63px 132px;
}

.status-cover__icon_is-secure_yes_is-moto_no {
    background-image: url("images/mot-crossed.png");
}

.status-cover__icon_is-secure_yes_is-moto_yes {
    background-image: url("images/mot.png");
}

.status-cover__text {
    font-size: 19px;
    color: #FFFFFF;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
}
