.button {
    border: 1px solid #4D4D4D;
    border-radius: 5px;
    display: inline-block;
    padding: 9px 20px;
    margin-right: 14px;

    line-height: 22px;
    cursor: pointer;

    -webkit-transition: all 0.2s ease;
}

.button:hover, .button:active, .button__selected {
    background-color: #4D4D4D;
    color: #fff;
}

.button:last-child {
    margin-right: 0;
}

.PricesEditing {
    display: table;
    content: " ";
    width: 100%;
    font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.PricesEditing__Price {
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
}

.PricesEditing__Price__Label {
    font-size: 19px;
}

.PricesEditing__Price__Value {
    font-size: 29px;
}
