.button {
    border: 1px solid #4D4D4D;
    border-radius: 5px;
    display: inline-block;
    padding: 9px 20px;
    margin-right: 14px;

    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.button:hover, .button:active, .button__selected {
    background-color: #4D4D4D;
    color: #fff;
}

.button:last-child {
    margin-right: 0;
}

