.edit_location__wrapper {
    position: absolute;

    bottom: 200px;
    left: 50%;
}

.edit_location__content {
    position: relative;
    width: 332px;
    margin-left: -50%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2);
    background-color: #FFF;

    max-height: 100%;
    overflow-y: scroll;

}