.Sidebar {
    position: absolute;
    width: 0;
    z-index: 200;
    top: 16px;
    bottom: 16px;
    right: 16px;
}

.Sidebar__Content {
    position: relative;
    width: 332px;
    margin-left: -332px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes fadeInRight {
    0% {
        right: -333px;
    }

    100% {
        right: 16px;
    }
}

@keyframes fadeOutRight {
    0% {
    }

    100% {
        right: -333px;
    }
}

@media only screen and (max-device-width: 480px) {
    @keyframes fadeInRight {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes fadeOutRight {
        0% {
        }

        100% {
            transform: translateX(100%);
        }
    }
}

.Sidebar.page-enter {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}

.Sidebar.page-enter.page-enter-active {
    opacity: 1;
}

.Sidebar.page-leave {
    opacity: 1;
}

.Sidebar.page-leave.page-leave-active {
    animation-name: fadeOutRight;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@media only screen and (max-device-width: 480px) {
    .Sidebar {
        position: absolute;
        z-index: 200;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    .Sidebar__Content {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 0;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
        background-color: #FFFFFF;
        max-height: 100%;
        overflow-y: scroll;
    }
}
