.Controls {
    position: absolute;
    width: 0;
    z-index: 100;
    top: 6px;
    left: 16px;
}

.Controls_secondary {
    bottom: 16px;
    top: initial;
}

.Controls__Inner {
    position: relative;
    width: 300px;
}

.Controls__Inner_secondary {
    position: relative;
    width: 50px;
}
