.controls__wrapper {
    position: absolute;
    width: 0;
    z-index: 100;

    top: 6px;
    left: 16px;
}

.controls__wrapper_secondary {
    bottom: 16px;
    top: initial;
}

.controls__content {
    position: relative;
    width: 300px;

}

.controls__content_secondary {
    position: relative;
    width: 50px;

}
