.PricesEditing {
    display: table;
    content: " ";
    width: 100%;
    font-family: "Roboto", Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

.PricesEditing__Price {
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
}

.PricesEditing__Price__Label {
    font-size: 19px;
}

.PricesEditing__Price__Value {
    font-size: 29px;
}
