.new-parking {
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, 0);
    -webkit-border-radius: 5px;
    /*margin-top: 20px;*/

    background: #FFF;
    width: 332px;
    z-index: 200;
}

@-webkit-keyframes fadeInDown {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}

@keyframes fadeInDown {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}

@-webkit-keyframes fadeOutDown {
    0% {
    }

    100% {
        top: 100%;

    }
}

@keyframes fadeOutDown {
    0% {
    }

    100% {
        top: 100%;
    }
}

@media only screen and (max-device-height: 750px) {

    @-webkit-keyframes fadeInDown {
        0% {
            bottom: -30%;
        }

        100% {
            bottom: 20px;
        }
    }

    @keyframes fadeInDown {
        0% {
            bottom: -30%;
        }

        100% {
            bottom: 20px;
        }
    }
    .new-parking {
        bottom: 20px;
        top: initial;
    }

    @-webkit-keyframes fadeOutDown {
        0% {
        }

        100% {
            bottom: -30%;
        }
    }

    @keyframes fadeOutDown {
        0% {
        }

        100% {
            bottom: -30%;
        }
    }
}

.new-parking.page-enter {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.new-parking.page-enter.page-enter-active {
}

.new-parking.page-leave {
}



.new-parking.page-leave.page-leave-active {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media only screen and (max-device-width: 335px) {
    .new-parking {
        width: 100%;
    }
}