.Parking {
    position: absolute;
    width: 332px;
}
.loading {
    height: 300px;
    text-align: center;
    line-height: 300px;
}

.Address {
    max-width: 270px;
}

.edit-location-button {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 17px;
}

@media only screen and (max-device-width: 335px) {
    .edit-location {
        width: 100%;
    }
}

.Rouble {
    font-size: 14px;
    position: absolute;
    bottom: 6px;
}

.InfoRow {
    /*border-bottom: 1px solid #4D4D4D;*/
    padding: 17px 0 6px 0;
    margin: 0 17px;
    position: relative;
}
