.NewParking {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    background: #FFF;
    width: 332px;
    z-index: 200;
}

@keyframes fadeInDown {
    0% {
        top: 100%;
    }

    100% {
        top: 35%;
    }
}

@keyframes fadeOutDown {
    0% {
    }

    100% {
        top: 100%;
    }
}

@media only screen and (max-device-height: 750px) {
    .NewParking {
        bottom: 0;
        top: initial;
    }

    @keyframes fadeInDown {
        0% {
            transform: translate3d(-50%, 100%, 0);
        }

        100% {
            transform: translate3d(-50%, 0, 0);
        }
    }

    @keyframes fadeOutDown {
        0% {
            transform: translate3d(-50%, 0, 0);
        }

        100% {
            transform: translate3d(-50%, 100%, 0);
        }
    }
}

.NewParking.page-enter {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}

.NewParking.page-enter.page-enter-active {
}

.NewParking.page-leave {
}

.NewParking.page-leave.page-leave-active {
    animation-name: fadeOutDown;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@media only screen and (max-device-width: 335px) {
    .NewParking {
        width: 100%;
    }
}