.FileUploader input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.FileUploader {
    display: block;
    width: 100%;
    height: 230px;
    margin-top: 17px;
    text-align: center;
    line-height: 230px;
    font-size: 2em; /* strange bug android chrome if >2em */
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.FileUploader__label {
    cursor: pointer;
}

.Progressbar {
    height: 100%;
}

.Progressbar > svg {
    height: 100%;
    padding: 50px;
}

.FileUploader__CancelWrapper {
    position: relative;
    top: -100%;
    color: #979797;
}
