.sidebar__wrapper {
    position: absolute;
    width: 0;
    z-index: 200;

    top: 16px;
    bottom: 16px;
    right: 16px;
}
.sidebar__wrapper__hidden {
    display: none;
}

.sidebar__content {
    position: relative;
    width: 332px;
    margin-left: -332px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2);
    background-color: #FFF;

    max-height: 100%;
    overflow-y: scroll;
}