.loading {
    height: 300px;
    text-align: center;
    line-height: 300px;
}

.Address {
    max-width: 270px;
}

.edit-location-button {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 17px;
}
.edit-location {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
    -webkit-border-radius: 15px;
    margin-top: 20px;


    background: #FFF;
    width: 332px;
    z-index: 200;
}

@media only screen and (max-device-width: 335px) {
    .edit-location {
        width: 100%;
    }
}
.Prices {
    display: table;
    content: " ";
    width: 100%;
    padding: 17px 13px 0 11px;
    font-family: "Roboto", Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

.Prices__Price {
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
}

.Prices__Price__Label {
    color: rgba(77, 77, 77, 0.7);
    font-size: 19px;
}

.Prices__Price__Value {
    font-size: 29px;
}

.Rouble {
    font-size: 14px;
    position: absolute;
    bottom: 6px;
}

.InfoRow {
    /*border-bottom: 1px solid #4D4D4D;*/
    padding: 17px 0 6px 0;
    margin: 0 17px;
    position: relative;
}
