.sidebar__wrapper {
    position: absolute;
    width: 0;
    z-index: 200;

    top: 16px;
    bottom: 16px;
    right: 16px;
}

.sidebar__wrapper__hidden {
    display: none;
}

.sidebar__content {
    position: relative;
    width: 332px;
    margin-left: -332px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2);
    background-color: #FFF;

    max-height: 100%;
    overflow-y: scroll;

}

.loading {
    height: 300px;
    text-align: center;
    line-height: 300px;
}

.edit-location {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
    -webkit-border-radius: 15px;
    margin-top: 20px;


    background: #FFF;
    width: 332px;
}

.Prices {
    display: table;
    content: " ";
    width: 100%;
    padding: 17px 13px 17px 11px;
    font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.Prices__Price {
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
}

.Prices__Price__Label {
    color: rgba(77, 77, 77, 0.7);
    font-size: 19px;
}

.Prices__Price__Value {
    font-size: 29px;
}

.Rouble {
    font-size: 14px;
    position: absolute;
    bottom: 6px;
}

.InfoRow {
    /*border-bottom: 1px solid #4D4D4D;*/
    padding: 17px 0 6px 0;
    margin: 0 17px;

}

@-webkit-keyframes fadeInRight {
    0% {
        right: -333px;
    }

    100% {
        right: 16px;
    }
}

@keyframes fadeInRight {
    0% {
        right: -333px;
    }

    100% {
        right: 16px;
    }
}

@-webkit-keyframes fadeOutRight {
    0% {
    }

    100% {
        right: -333px;
    }
}

@keyframes fadeOutRight {
    0% {
    }

    100% {
        right: -333px;
    }
}

@media only screen and (max-device-width: 480px) {

    @-webkit-keyframes fadeInRight {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes fadeInRight {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @-webkit-keyframes fadeOutRight {
        0% {
        }

        100% {
            transform: translateX(100%);
        }
    }

    @keyframes fadeOutRight {
        0% {
        }

        100% {
            transform: translateX(100%);
        }
    }
}

.sidebar__wrapper.page-enter {

    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.sidebar__wrapper.page-enter.page-enter-active {
    opacity: 1;
}

.sidebar__wrapper.page-leave {
    opacity: 1;
}

.sidebar__wrapper.page-leave.page-leave-active {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media only screen and (max-device-width: 480px) {
    .sidebar__wrapper {
        position: absolute;
        z-index: 200;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    .sidebar__content {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 0;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2);
        background-color: #FFF;
        max-height: 100%;
        overflow-y: scroll;
    }
}