.controls__wrapper {
    position: absolute;
    width: 0;
    z-index: 100;

    top: 16px;
    left: 16px;
}

.controls__wrapper_secondary {
    bottom: 16px;
    top: initial;
}

.controls__content {
    position: relative;
    width: 300px;

}

.controls__content_secondary {
    position: relative;
    width: 50px;

}

.control-btn {
    line-height: 39px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 38px;
    padding: 0 16px;
    color: #ffffff;
    background: rgba(77, 77, 77, 0.76);
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-radius: 999em;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-right: 8px;

    -webkit-transition: all 0.5s ease;
}

@media only screen  and (min-width : 768px) {
    .control-btn:hover {
        background: rgba(77, 77, 77, 1);
    }
}
.control-btn:active {
    background: rgba(77, 77, 77, 1);
}

.control-btn_icon_true {
}

.control-btn_avatar_true {
    width: 38px;
    padding: 0;
}

.control-btn-round {
    width: 38px;
    padding: 0;
    margin-top: 10px;
}