.Users {
    position: absolute;
    width: 332px;
}

@media only screen and (max-device-width: 480px) {
    .Users {
        width: 100%;
    }
}

.Users__Topbar {
    background: #4D4D4D;
    height: 39px;
}