.User {
    position: absolute;
    width: 332px;
}

.User__Cover {
    width: 100%;
    height: 185px;
    background: linear-gradient(0deg, #FFFFFF 85px, rgba(77, 77, 77, 0.76) 85px);
    text-align: center;
    padding-top: 50px;
}

.User__Name {
    font-size: 1.5em;
}

.User__SocialConnections {
    text-align: center;
    font-size: 2em;
}
