.User {
    position: absolute;
    width: 332px;
}

@media only screen and (max-device-width: 480px) {
    .User {
        width: 100%;
    }
}

.User__Cover {
    width: 100%;
    height: 185px;
    background: linear-gradient(0deg, #FFFFFF 85px, #4D4D4D 85px);
    text-align: center;
    padding-top: 50px;
}

.User__Name {
    font-size: 1.5em;
}

.User__SocialConnections {
    text-align: center;
    font-size: 2em;
}

.User__Header {
    padding: 0 11px;
    font-size: 1.5em;
}
