.AvatarList {
    position: relative;
    height: 53px;
    margin-top: 17px;
    cursor: pointer;
}

.AvatarList__Object {
    position: absolute;
    left: 50%;
    margin-left: -26px;
    transition: all 0.5s ease;
}
