.ButtonRow {
    padding: 17px 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    font-size: 1.1em;
    color: #4D4D4D;
    border-bottom: 1px solid #979797;

}

.ButtonRow:first-child {
    -webkit-border-radius: 5px 5px 0 0;
}

.ButtonRow:last-child {
    -webkit-border-radius: 0 0 5px 5px;
    border-bottom: none;
}

@media only screen  and (min-width: 768px) {
    .ButtonRow:hover {
        background-color: #4D4D4D;
        color: #fff;
    }
}

.ButtonRow:active, .ButtonRow__selected {
    background-color: #4D4D4D;
    color: #fff;
}



.ButtonRow_color_light {
    border-color: #c3c3c3;
}

.ButtonRow_height_thin {
    padding: 14px 0;
    font-size: 1em;
}

.ButtonRow_height_very-thin {
    padding: 3px 8px;
    font-size: 1em;
}

.ButtonRow_align_left {
    text-align: left;
    padding-left: 8px;
}