html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body > div {
    width: 100%;
    height: 100%;
}

.leaflet-control-container > .leaflet-bottom {
    z-index: 10;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: white;
    font-size: 16px;
    overflow-y: hidden;
}

p {
    margin: 0 0 17px 0;
}

.one-more-wrapper {
    display: block;
    height: 100%;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #4D4D4D;
}

:focus {
    outline: none;
}

.close-wrapper {
    position: absolute;
    top: 9px;
    right: 7px;
    cursor: pointer;
    font-size: 1.2em;
}

.close-wrapper:hover, .close-wrapper:active {
}

.map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
